.contact-us h1,
.contact-us h2,
.contact-us h3,
.contact-us h4,
.contact-us h5,
.contact-us h6,
.contact-us a,
.contact-us a:hover,
.contact-us a:focus,
.contact-us a:active {
  text-decoration: none;
  outline: none;
}

.contact-section {
  height: fit-content;
}

.contact-us a,
.contact-us a:active,
.contact-us a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.contact-us ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-us img {
  max-width: 100%;
  height: auto;
}
.contact-us span,
.contact-us a,
.contact-us a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.contact-us .section-head {
  margin-bottom: 60px;
}
.contact-us .section-head h4 {
  position: relative;
  padding: 0;
  color: #f91942;
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}
.contact-us .section-head h4:before {
  content: "";
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.contact-us .section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
}
.contact-us p.service_text {
  color: #cccccc !important;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.contact-us .section-head p,
.contact-us p.awesome_line {
  color: #818181;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.contact-us .extra-text {
  font-size: 34px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 25px;
  position: relative;
  text-transform: none;
}
.contact-us .extra-text::before {
  content: "";
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.contact-us .extra-text span {
  font-weight: 700;
  color: #f91942;
}
.contact-us .item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.contact-us .item:hover {
  background: #f91942;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.contact-us .item:hover .item {
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.contact-us .item:hover h6,
.contact-us .item:hover p,
.contact-us .item:hover .right,
.contact-us .item:hover .left {
  color: #fff;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.contact-us .item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #f91942;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}

.contact-us .item .feature_box_col_one {
  /* background: url(""); */
  color: #f91942;
}
.contact-us .item .feature_box_col_two {
  background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  color: #f91942;
}
.contact-us .item .feature_box_col_three {
  background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  color: #f91942;
}
.contact-us .item p {
  font-size: 15px;
  line-height: 26px;
}
.contact-us .item h6 {
  margin-bottom: 20px;
  color: #2f2f2f;
}
.contact-us .mission p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
}

.contact-us .mission .small-text {
  margin-left: 10px;
  font-size: 13px;
  color: #666;
}
.contact-us .skills {
  padding-top: 0px;
}
.contact-us .skills .prog-item {
  margin-bottom: 25px;
}
.contact-us .skills .prog-item:last-child {
  margin-bottom: 0;
}
.contact-us .skills .prog-item p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.contact-us .skills .prog-item .skills-progress {
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 20px;
  position: relative;
}
.contact-us .skills .prog-item .skills-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #f91942;
  width: 10%;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.contact-us .skills .prog-item .skills-progress span:after {
  content: attr(data-value);
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  padding: 3px 7px;
  border-radius: 30px;
}

.contact-us .fields {
  padding: 0 30px 10px;
}

.contact-us .support-fields {
  padding: 0 0px 10px;
  width: 33%;
}

.contact-us h5 {
  padding-top: 30px;
  text-decoration: underline;
}

.contact-us .right {
  float: right;
}

.contact-us .left {
  font-weight: bold;
  float: left;
}
/* Footer section starts */
.main-footer1 {
  top: 0;
  display: flex;
  flex-direction: column;
}
.main-footer1 .lower {
  position: relative;
  color: #fff;
}
