/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 40px;
  margin: auto;
}

/* navbar styling */
.home-navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  /* background: crimson; */
}
.home-navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.home-navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-navbar .logo a {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
.home-navbar.sticky .logo a span {
  color: #fff;
}
.home-navbar .menu li {
  list-style: none;
  display: inline-block;
}
.home-navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.home-navbar .menu li a:hover {
  color: crimson;
}
.home-navbar.sticky .menu li a:hover {
  color: #fff;
}
/* menu btn styling */
.menu-btn {
  display: none;
  color: #fff;
  font-size: 23px;
  cursor: pointer;
}
/* home section styling */
.home {
  display: flex;
  background: url("https://synergymedco.com/wp-content/uploads/2014/10/bigstock-Black-Ekg-Monitor-Background-47856377.jpg")
    no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content {
  width: 60%;
}
.home .home-content .text-1,
.learn-more .text-1 {
  font-size: 40px;
  margin-bottom: 40px;
}
.home .home-content .text-2,
.learn-more .text-2 {
  font-size: 20px;
  font-weight: 300;
  margin-left: -3px;
}

/* stats section */
.stats {
  width: 100%;
  padding: 5% 10% 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1);
}

.stats div {
  width: 30%;
  height: max-content;
  margin-bottom: 50px;
  background-color: rgb(207, 201, 201);
  padding: 20px;
  border-radius: 5%;
}
.stats .card i {
  font-size: 100px;
  border: 4px solid black;
  border-radius: 50%;
  padding: 20px;
  margin: 20px 10px;
}
.stats .card h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
.stats .card p {
  margin-bottom: 10px;
}

/* learn more section styling */
.learn-more {
  display: flex;
  flex-direction: column;
  height: 750px;
  /* padding: 10%; */
}
.learn-more .upper {
  flex: 1;
}
.learn-more .lower {
  flex: 1;
}
.learn-more .upper .outer {
  height: 600px;
  background: url("/medicine.jpeg") no-repeat center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.learn-more .upper .outer .left {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 50%;
  height: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: auto;
}

.learn-more .upper .outer .left .button {
  border: 1px white solid;
  width: 150px;
  padding: 10px 20px;
  margin-top: 30px;
  align-content: center;
}
.learn-more .lower {
  display: flex;
  height: fit-content;
}
.learn-more .lower .left,
.learn-more .lower .right {
  flex: 1;
}
.learn-more .lower .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.learn-more .lower .right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}
.learn-more .lower .right .info-card {
  width: 50%;
  padding: 20px;
}
.learn-more .lower .right .info-card .heading {
  font-size: x-large;
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.inactive {
  cursor: default !important;
  border-bottom: 3px solid crimson !important;
  pointer-events: none;
  color: black !important;
}
.main-footer {
  display: flex;
  flex-direction: column;
}
.main-footer .upper {
  display: flex;
  flex: 1;
  top: 585px;
  position: relative;
  color: #fff;
}
.main-footer .upper .upper-right {
  flex: 1;
  height: 300px;
  background: url("https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/800/cached.offlinehbpl.hbpl.co.uk/news/PGH/1F56A017-DF14-5CA6-AB2C83DEF47AA8E3.jpg")
    no-repeat center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
.main-footer .upper .upper-left {
  flex: 1;
  height: 300px;
  background: url("https://post.healthline.com/wp-content/uploads/2020/08/z-track-injection_thumb-1-732x549.jpg")
    no-repeat center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  position: relative;
}
.main-footer .upper .link {
  width: 300px;
  height: 100px;
  position: absolute;
  background: blue;
  align-items: center;
  padding: 10px;
  bottom: 0;
  right: 20px;
}
.main-footer .upper h3 {
  margin: 20px;
}
.main-footer .upper .link a {
  color: #fff;
}
.main-footer .lower {
  display: flex;
  flex: 1;
  top: 585px;
  position: relative;
  color: #fff;
}
.footer-dark {
  width: 100%;
  padding: 50px 0 20px;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}
